.jeune {
   width: 100vw;
   height: 100vh;

   display: flex;
   align-items: center;
   flex-direction: column;

   margin-top: 8em;

   &__button {
      --color: #0077ff;
      font-family: inherit;
      display: inline-block;
      height: 2.6em;
      line-height: 2.5em;
      overflow: hidden;
      margin: 20px;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 17px;
      z-index: 1;
      color: var(--color);
      border: 2px solid var(--color);
      border-radius: 6px;
      position: relative;

      text-decoration: none;
      text-align: center;
   }
   &__button::before {
      position: absolute;
      content: "";
      background: var(--color);
      width: 150px;
      height: 200px;
      z-index: -1;
      border-radius: 50%;
   }
   &__button:hover {
      color: white;
   }

   &__button:before {
      top: 100%;
      left: 100%;
      transition: 0.3s all;
   }

   &__button:hover::before {
      top: -30px;
      left: -30px;
   }
}

.card__container {
   display: flex;

   align-items: center;

   margin: 2rem;

   gap: 1.2rem;

   flex-wrap: wrap;

   width: 90%;
}

.input-container {
   position: relative;
   display: flex;
   align-items: center;
   margin-top: 2rem;
}

.input {
   width: 40px;
   height: 40px;
   border-radius: 20px;
   border: none;
   outline: none;
   padding: 18px 16px;
   background-color: transparent;
   cursor: pointer;
   transition: all 0.5s ease-in-out;
}

.input::placeholder {
   color: transparent;
}

.input:focus::placeholder {
   color: rgb(131, 128, 128);
}

.input:focus,
.input:not(:placeholder-shown) {
   background-color: #fff;
   border: 1px solid rgb(91, 107, 255);
   width: 290px;
   cursor: none;
   padding: 18px 16px 18px 45px;
}

.icon {
   position: absolute;
   left: 0;
   height: 45px;
   width: 45px;
   background-color: #fff;
   border-radius: 99px;
   z-index: -1;
   fill: rgb(91, 107, 255);
   border: 1px solid rgb(91, 107, 255);
}

.input:focus + .icon,
.input:not(:placeholder-shown) + .icon {
   z-index: 0;
   background-color: transparent;
   border: none;
}

@media only screen and (max-width: 768px) {
   .card__container {
      display: flex;

      justify-content: center;
      align-items: center;

      margin: 2rem;

      gap: 1.2rem;

      flex-wrap: wrap;

      width: 90%;
   }
}
