.nav {
  display: flex;
  justify-content: space-between;

  background-color: #284b63;
  color: #eef0eb;

  &__logo {
    margin-left: 5px;
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;

    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    &__burger {
      display: none;
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1.2rem;
    }

    &__list ul {
      font-size: 1.2rem;

      list-style: none;
      text-decoration: none;

      display: flex;
      gap: 1.2rem;

      margin: 1.1rem;

      cursor: pointer;
    }
  }
}
