.nav {
  display: flex;
  justify-content: space-between;

  width: 100vw;

  background-color: #284b63;
  color: #eef0eb;

  &__logo {
    margin-left: 1.1rem;
  }

  &__burger {
    position: absolute;
    right: 0;
    top: 0;

    margin: 5px;

    cursor: pointer;
  }

  &__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    &__burger {
      display: none;
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1.2rem;
    }

    &__list {
      font-size: 1.2rem;

      display: flex;
      gap: 1.3rem;

      margin: 1.3rem;

      cursor: pointer;
    }

    &__link {
      text-decoration: none;
      color: #eef0eb;
    }

    &__link:hover {
      color: #929292;
    }
  }
}
