.nav {
  display: flex;
  justify-content: space-between;

  background-color: #02040f;
  color: #e5dada;

  &__logo {
    margin-left: 5px;
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;

    cursor: pointer;
  }
}
